/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {box-sizing: border-box;}

body {
  background-image: url('page-background-shell\ -\ 2.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin: 0;
}

main {
  position: relative;
  background-color: white;
  border-radius: 05%;
  max-width: 50%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

img {
  max-width: 200px;
  padding: 0px;
}

main > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}